<div  class="row">
      <h1> {{title}}</h1>
</div>
<div class="row">
    <div class="col-sm-6">
      <h2>City</h2>
      <input type="text" name="storyName" placeholder="" ng-model="newStorySnippet.city">
      <h2>ImageUrl</h2>
      <input type="text" name="storyName" placeholder="" ng-model=" newStorySnippet.imgLink">
      <h2>Description</h2>
      <input type="text" name="storyName" placeholder="" ng-model="newStorySnippet.description">
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-outline-success" ng-click="addNewSnippet()">Submit</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-outline-success" ng-click="goToRearrangeSnippetsView()">Rearrange your Story Snippets</button>
  </div>
</div>
