<div  class="row">
      <h1> Build Your Story Partial</h1>
</div>
<div class="row">
    <div class="col-sm-6">
      <h2>Story Name</h2>
      <input type="text" name="storyName" placeholder="" ng-model="newStorySnippet.storyName">
      <h2>City</h2>
      <input type="text" name="storyName" placeholder="" ng-model="newStorySnippet.city">
      <h2>ImageUrl</h2>
      <input type="text" name="storyName" placeholder="" ng-model="newStorySnippet.imgLink">
      <h2>Description</h2>
      <input type="text" name="storyName" placeholder="" ng-model="newStorySnippet.description">
      <h2>Username</h2>
      <input type="text" name="storyName" placeholder="" ng-model="newStorySnippet.userName">
    </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-outline-success" ng-click="addNewSnippet()">Submit New Snippet</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-outline-success" ng-click="goToRearrangeSnippetsView()">Rearrange your Story Snippets</button>
  </div>
</div>
