<div class="auth-form login-view">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 jumbotron">
      <h1>Tell Me Your Story</h1>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="col-sm-6">
          <button class="btn btn-warning  btn-outline btn-block btn-lg" ng-click="login()">
        Login</button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-warning btn-outline btn-block btn-lg" ng-click="register()">
          Register</button>
        </div>
      </div>
    <div class="col-sm-4"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        <input class="form-control" type="email" autofocus="true" ng-model="account.email" placeholder="email address">
    </div>
    <div class="col-sm-4"></div>
  </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input class="form-control" type="password" ng-model="account.password" placeholder="password">
      </div>
    <div class="col-sm-4"></div>
  </div>



</div>
