<div  class="row main-view">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 jumbotron">
      <h1> Tell Me Your Story</h1>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
    <div class="col-sm-5 left-rectangle">
      <button type="button" class="btn btn-warning btn-outline  btn-block btn-lg" ng-click="goToBuildingForm()">Build New Story</button>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <button type="button" class="btn btn-warning btn-outline  btn-block btn-lg" ng-click="goToStoryGallery()">Manage and View Stories</button>
    </div>
    <div class="col-sm-4 text-center">
    </div>
</div>
