<div class="row map-view">
  <div class="col-sm-3"></div>
    <div class="col-sm-6 storySign text-center">
      {{story.storyName}}
    </div>
  <div class="col-sm-3"></div>
</div>
<div class="row mapStyle">
  <div class="col-sm-6">
      <ui-gmap-google-map class="angular-google-map-container" center='map.center' zoom='map.zoom'>

      <ui-gmap-polyline ng-repeat="p in polylines" path ="p.path" stroke="p.stroke" visible="p.visible" geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>

      <ui-gmap-marker coords= "map.center" idkey= "marker.id"></ui-gmap-marker>

      </ui-gmap-google-map>

  </div>
  <div class="col-sm-6">
      <div ng-repeat="snippet in snippets">
        <div ng-if="snippet_index == $index">
          <img ng-src={{snippet.imgLink}} alt="cityPicture" width="500px" height="400px">
      </div>
  </div>
</div>
</div>

<div class="row descriptSpace">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div ng-repeat="snippet in snippets">
        <div ng-if="snippet_index == $index">
          <p>{{snippet.description}}</p>
        </div>
      </div>
      </div>
    <div class="col-sm-3"></div>
  <div class="row spacer"></div>
      <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
          <button type="button" class="btn-lg">
            <span class="glyphicon glyphicon-backward" aria-hidden="true" ng-click="back(); goMap()"></span>
          </button>
          <button type="button" class="btn-lg" ng-click="">
        <span class="glyphicon glyphicon-forward" aria-hidden="true" ng-click="next(); goMap()"></span>
        </button>
        </div>
      <div class="col-sm-4">
      </div>
</div>

