<h1>Rearrange Snippets View</h1>

<div ng-repeat="snippet in snippets">

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-6">
        <p>{{snippet.city}}</p>
        <p>{{snippet.description}}</p>
        <p>{{snippet.id}}</p>
        <button type="button" class="btn btn-primary" ng-click="deleteSnippet(snippet.id)">Delete</button>
        <button type="button" class="btn btn-primary" ng-click="updateSnippet(snippet.id)">Edit</button>
      </div>
    </div>
  </div>
</div>
