<div class="auth-form register-view">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 jumbotron">
      Tell Me Your Story
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="col-sm-12">
          <button class="btn btn-warning btn-outline btn-block btn-lg" ng-click="register()">
          Register</button>
        </div>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 input-group margin-bottom-sm text-center">
        <input type="email" autofocus="true" ng-model="account.email" placeholder="e.g asdfsd@gmail.com">
    </div>
    <div class="col-sm-4"></div>
  </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 input-group margin-bottom-sm text-center">
        <input  type="password" ng-model="account.password" placeholder="password">
      </div>
    <div class="col-sm-4"></div>
  </div>
</div>
