<h1>Story Collection</h1>

<div ng-repeat="story in stories">

<div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-6">
        <p>{{story.storyName}}<p>
        <p>{{story.id}}</p>
        <button type="button" class="btn btn-primary" ng-click="deleteStory(story.id)">Delete</button>
        <button type="button" class="btn btn-primary" ng-click="updateStory()">Edit</button>
        <button type="button" class="btn btn-primary" ng-click="goToRearrangeSnippetsView(story.id)">Rearrange View</button>
      </div>
    </div>
</div>
