
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 storyNameTitle">
    Write the name of your Story
  </div>
  <div class="col-sm-4"></div>
</div>

<div class="row" style="margin-top: 2em">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 text-center">
    <input type="text" name="" placeholder="The name goes here" ng-model="newStoryName.storyName">
  </div>
  <div class="col-sm-4"></div>
</div>

<div class="row text-center" style="margin-top: 2em">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-warning btn-lg btn-outline" ng-click="addNewStory()">Submit</button>
  </div>
  <div class="col-sm-4"></div>
</div>
