<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4 storyNameTitle" style="color: #101">
      Choose a Story
  </div>
  <div class="col-sm-7"></div>
</div>

<div class="row storyList">
  <div class="col-sm-2"></div>
  <div class="col-sm-6">
    <div ng-repeat="story in stories" class="card">
          <div class="col-xs-12 card-block">
            <h3 class="storyHeaderStoryView text-center card-title">{{story.storyName}}
            </h3>
            <button type="button" class="btn btn-warning btn-secondary  btn-outline  btn-lg" ng-click="deleteStory(story.id)">Delete</button>
            <button type="button" class="btn btn-warning  btn-outline  btn-lg" ng-click="goToRearrangeSnippetsView(story.id)">Story Fragments</button>
          </div>
    </div>
    <div  ng-if="stories.length == 0">
      <h1 class = "storyNameTitle">You Don't have any stories</h1>
      <button type="button" class="btn btn-warning btn-outline  btn-block btn-lg" ng-click="goToBuildingForm()">Please Build New Story</button>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
